@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.videoContainer 
{
  position: absolute;
  width: 100%;
  height: 100%;
 
  border-radius: 5px;

  background-attachment: scroll;
  overflow: hidden;
 background-position: center;
 background-size: cover;
}

.videoContainer video 
{
    min-width: 100%;
    min-height: 100%;
    zoom: 25%;
}
.videoContainer .overlay {
    position: absolute;
    width: 100%;
  height: 100%;
    margin: 0%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
  }
.overlay h1{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-family: Butler;
color: white;
margin-top: 300px;
font-size: 80px;
opacity: 1;
}
.overlay p{
  font-weight: 700;
  text-align: center;
  font-size: 90px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
  margin-top: 200px;
  font-family: Butler;
  animation: hideAnimation 8s ease-in 0s, shine 5s linear infinite  ;
  
 
}


@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}
@keyframes hideAnimation {
  from {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  to{
    visibility: visible;
  }
}


 
 header, footer
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: rgb(34, 34, 34);
}

footer span
{
  color: #AAA;
}

div.container
{
    font-family: Raleway;
/*     margin: 0 auto; */
  
	padding: 1em 1em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 20px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
/* .teal
{
    background: black;
} */
/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 1.5px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

.dropbtn{
    background-color: black;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: block;
  }
  .drop-content {
   
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    padding: 2rem;
    padding-top: 5px;
    text-align: center;
    display: none;
     margin-right: 5px;
  }
  
.drop-content a:hover {background-color: black;
color: white;}
.dropdown:hover .drop-content {
  display: block;
  padding: 10px;
  animation: none;
margin-top: 14px;
}
.space{
    padding: 8px;
}


.twos{
  height: 100vh;
  background: rgb(255, 255, 255);
}
video{
  object-fit: cover;
}

.two{
  margin: 0;
  padding: 0;
  /*for begining change this to absolute  */

  top: 50%;
  transform:translateY(-50%);
  text-align: center;
  align-items: center;
  color: white;
  font-size: 5em;
  font-family: monospace;
  letter-spacing: 0.2em;
  padding-bottom: 40%;
}

.two span{
  display: inline-block;
  animation: animate 1s linear forwards;
}
@keyframes animate{
  0%
  {
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(10px);
  }
  100%
  {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0);
  }
}
.two span:nth-child(1)
{
  animation-delay: 0.8s;
}
.two span:nth-child(2)
{
  animation-delay: 1.2s;
}
.two span:nth-child(3)
{
  animation-delay: 1.6s;
}
.two span:nth-child(4)
{
  animation-delay: 2s;
}
.two span:nth-child(5)
{
  animation-delay: 2.4s;
}
.two span:nth-child(6)
{
  animation-delay: 2.8s;
}
.two span:nth-child(7)
{
  animation-delay: 3.1s;
}